@model SolarSystemConsumption.Models.ItemsInstalled

@{    
    ViewBag.Title = "New Installment";
}

<h2 class="page-header">Classes Installments</h2>
<div class="box box-info">
    @{ 
        if (ViewBag.Success !=null)
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong><i class="glyphicon glyphicon-ok"></i> &nbsp; Success</strong> Items saved successfully 
            </div>
        }
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("School Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                <input type="text" value="@ViewBag.SchoolName" class="form-control" disabled readonly />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <div class="feedback-msg" style="display:none;">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                        <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                        <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
                    </svg>
                </div>
                <ul class="added-items">
                    @{    
                        var AddedItems = (List<SolarSystemConsumption.Models.ItemsInstalled>)ViewBag.AddedItems;
                        foreach (var item in AddedItems)
                        {
                            <li>
                                <h4>
                                    <span class="label label-success">
                                        <strong>@item.Quantity</strong> @item.Item.Name <a href="#" onclick="RemoveAddedItem(this,@item.Id)">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                    </span>
                                </h4>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
            <input type="hidden" id="ItemCount" name="ItemCount" value="0" />
            <div class="form-group">
                @Html.Label("Item", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.DropDownList("Items", ViewBag.Items as SelectList, "[Select Item]", htmlAttributes: new { @class = "form-control" })
                    <span class="text-danger" id="ItemsValMsg" style="display:none"> Please select an item</span>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.TextBox("ItemQuantity", null, htmlAttributes: new { @class = "form-control", @placeholder = "Enter the Quantity" })
                    <span class="text-danger" id="QtValMsg" style="display:none"> Invalid quantity</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" id="additem" class="btn btn-default">
                        Add &nbsp;<span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <div class="feedback-msg-error" style="display:none;">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                            <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                            <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
                            <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2" />
                        </svg>
                        <p class="error">Can not add duplicated item !</p>
                    </div>
                    @*<input type="submit" value="Add" class="btn btn-primary" />*@
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4 col-md-offset-2" id="Installment">
                </div>
            </div>
            <div class="form-group" id="saveBtn" style="display:none;">
                <div class="col-md-offset-2 col-md-4 save-block">
                    <button type="submit" id="additem" class="btn btn-primary btn-block">
                        Save &nbsp;<span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                </div>
            </div>
        </div>
        }

        <div>
            <p class="text-right">@Html.ActionLink("Back", "Index")</p>
        </div>
    </div>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">

    var count = 0;
    function removeItem(element) {
        $("#ItemCount").val(--count);
        $(element).parent().remove();
        if (count == 0)
            $("#saveBtn").hide();
    }
    function ShowSuccessmsg() {
        $(".feedback-msg").fadeIn();
        setTimeout(function () {
            $(".feedback-msg").fadeOut();
        }, 1000);
    }
    function ShowErrormsg() {
        $(".feedback-msg-error").fadeIn();
        setTimeout(function () {
            $(".feedback-msg-error").fadeOut();
        }, 2000);
    }
    function RemoveAddedItem(element, Id) {
        $.ajax({
            url: '../DeleteItemForClasses/' + Id,
            type: 'GET',
            data: JSON.stringify({ "id": parseInt(Id)}),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (result) {               
                ShowSuccessmsg();
                $(element).parent().parent().parent().remove();
            }
        });
    }
    $(document).ready(function () {      
        var reg = /^[1-9][0-9]*$/;
        $("#additem").click(function () {
            var found = false;
            var selectedItem = $("#Items option:selected").text();
            var Qt = $("#ItemQuantity").val();
            if (selectedItem == '[Select Item]') {
                document.getElementById("Items").focus();
                $("#Items").parent().parent().addClass('has-error');
                $("#ItemsValMsg").show();
            }
            else if (!reg.test(Qt))
            {
                $("#ItemQuantity").parent().parent().addClass('has-error');
                $("#QtValMsg").show();
            }
            else {
                $("div.item-details:contains('" + selectedItem + "')").each(function () {
                    ShowErrormsg();
                    found = true;
                    $("#Items").parent().parent().removeClass('has-error');
                    $("#ItemQuantity").parent().parent().removeClass('has-error');
                    $("#QtValMsg").hide();
                    $("#ItemsValMsg").hide();
                });
                if (!found) {
                    $("#Installment").append("<div class='col-md-6 items'>" +
                        "<div class= 'col-md-9 item-details'>" +
                        "<input type='hidden' name='["+count+"].ItemNo' value=" + $("#Items option:selected").val() + ">" +
                        "<input type='hidden' name='[" + count +"].Quantity' value=" + $("#ItemQuantity").val() + ">" +
                        "<h4>" + $("#ItemQuantity").val() + " </h4> <span>" + $("#Items option:selected").text() + "</span> </div>" +
                        "<div class='col-md-3 remove-btn' onclick='removeItem(this)'>" +
                        "<div class='pull-right'>" +
                        "<i class='glyphicon glyphicon-remove text-danger'></i> </div></div></div>");
                    $("#ItemCount").val(++count);
                    $("#ItemQuantity").val('');
                    $("#Items").parent().parent().removeClass('has-error');
                    $("#ItemQuantity").parent().parent().removeClass('has-error');
                    $("#QtValMsg").hide();
                    $("#ItemsValMsg").hide();
                    $('#Items option:contains("[Select Item]")').prop('selected', true);
                    if (count == 1) {
                        $("#saveBtn").show('slow');
                    }
                }
            }
        });
        $("#Items").change(function () {
            var selectedItem = $("#Items option:selected").text();
            $("#Items").parent().parent().removeClass('has-error');
            $("#ItemsValMsg").hide();
            
        })       
    });
</script>